In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Culex_Greece_CM_2025_06.csv')

In [3]:
df['prediction'] = df['prediction'].astype(int)

In [4]:
df

,dt_placement,dt_prediction,week,x,y,prediction,entomological_features
0,2025-06-02,2025-06-17,25,22.137540,40.689448,2,False
1,2025-06-02,2025-06-17,25,21.786205,40.725381,2,False
2,2025-06-02,2025-06-17,25,21.739361,40.851148,3,False
3,2025-06-02,2025-06-17,25,21.762783,40.779281,1,False
4,2025-06-02,2025-06-17,25,21.786205,40.779281,2,False
...,...,...,...,...,...,...,...
4555,2025-06-02,2025-06-17,25,24.222123,40.312147,2,False
4556,2025-06-02,2025-06-17,25,24.245545,40.186381,3,False
4557,2025-06-02,2025-06-17,25,24.245545,40.258247,1,False
4558,2025-06-02,2025-06-17,25,24.362657,40.168414,1,False
4559,2025-06-02,2025-06-17,25,24.386079,40.150447,2,False

In [5]:
df.prediction.min()

0

In [6]:
df.prediction.max()

8

In [7]:
count_low = df['prediction'].between(0, 1).sum()
count_low

966

In [8]:
count_mid = df['prediction'].between(2, 5).sum()
count_mid

3367

In [9]:
count_high = df['prediction'].between(6, 9).sum()
count_high

227