In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Anopheles_Italy_Trentino_2025_06.csv')

In [3]:
df['prediction'] = df['prediction'].astype(int)

In [4]:
df

,dt_placement,dt_prediction,week,x,y,prediction,entomological_features
0,2025-06-02,2025-06-17,25,10.723147,46.042283,0,True
1,2025-06-02,2025-06-17,25,11.031703,45.862616,0,True
2,2025-06-02,2025-06-17,25,11.031703,46.365683,0,True
3,2025-06-02,2025-06-17,25,11.083129,46.114149,0,True
4,2025-06-02,2025-06-17,25,11.134555,46.186016,0,True
...,...,...,...,...,...,...,...
1591,2025-06-02,2025-06-17,25,11.931657,46.168049,0,False
1592,2025-06-02,2025-06-17,25,11.931657,46.186016,0,False
1593,2025-06-02,2025-06-17,25,11.931657,46.203983,0,False
1594,2025-06-02,2025-06-17,25,11.931657,46.221950,0,False
1595,2025-06-02,2025-06-17,25,11.957370,46.203983,0,False

In [5]:
df.prediction.min()

0

In [6]:
df.prediction.max()

1

In [7]:
count_low = df['prediction'].between(0, 1).sum()
count_low

1596

In [8]:
count_mid = df['prediction'].between(2, 5).sum()
count_mid

0

In [9]:
count_high = df['prediction'].between(6, 9).sum()
count_high

0