In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Culex_Greece_Crete_2025_06.csv')

In [3]:
df['prediction'] = df['prediction'].astype(int)

In [4]:
df

,dt_placement,dt_prediction,week,x,y,prediction,entomological_features
0,2025-06-02,2025-06-17,25,23.525905,35.296150,3,False
1,2025-06-02,2025-06-17,25,25.210703,35.062583,4,False
2,2025-06-02,2025-06-17,25,25.210703,35.044617,4,False
3,2025-06-02,2025-06-17,25,25.210703,35.026650,5,False
4,2025-06-02,2025-06-17,25,25.210703,35.008683,5,False
...,...,...,...,...,...,...,...
2066,2025-06-02,2025-06-17,25,24.510527,35.170384,4,False
2067,2025-06-02,2025-06-17,25,24.510527,35.152417,4,False
2068,2025-06-02,2025-06-17,25,24.488647,35.350050,8,False
2069,2025-06-02,2025-06-17,25,24.554288,35.170384,6,False
2070,2025-06-02,2025-06-17,25,26.304727,35.314117,5,False

In [5]:
df.prediction.min()

2

In [6]:
df.prediction.max()

9

In [7]:
count_low = df['prediction'].between(0, 1).sum()
count_low

0

In [8]:
count_mid = df['prediction'].between(2, 5).sum()
count_mid

1430

In [9]:
count_high = df['prediction'].between(6, 9).sum()
count_high

641