In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Culex_Greece_Thessaly_2025_06.csv')

In [3]:
df['prediction'] = df['prediction'].astype(int)

In [4]:
df

,dt_placement,dt_prediction,week,x,y,prediction,entomological_features
0,2025-06-02,2025-06-17,25,21.755918,39.571596,6,False
1,2025-06-02,2025-06-17,25,21.178195,39.607530,3,False
2,2025-06-02,2025-06-17,25,21.247521,39.625496,5,False
3,2025-06-02,2025-06-17,25,21.224412,39.427863,5,False
4,2025-06-02,2025-06-17,25,21.201304,39.661430,4,False
...,...,...,...,...,...,...,...
3454,2025-06-02,2025-06-17,25,24.066810,39.302096,7,False
3455,2025-06-02,2025-06-17,25,24.066810,39.320063,7,False
3456,2025-06-02,2025-06-17,25,24.066810,39.338029,7,False
3457,2025-06-02,2025-06-17,25,24.066810,39.355996,7,False
3458,2025-06-02,2025-06-17,25,24.321008,39.338029,6,False

In [5]:
df.prediction.min()

1

In [6]:
df.prediction.max()

8

In [7]:
count_low = df['prediction'].between(0, 1).sum()
count_low

4

In [8]:
count_mid = df['prediction'].between(2, 5).sum()
count_mid

2554

In [9]:
count_high = df['prediction'].between(6, 9).sum()
count_high

901